@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-secondary-50: #fff1f1;
  --color-secondary-100: #ffe4e5;
  --color-secondary-200: #fecdd1;
  --color-secondary-300: #fea3aa;
  --color-secondary-400: #fc707d;
  --color-secondary-500: #f63d54;
  --color-secondary-600: #e41e40;
  --color-secondary-700: #c01033;
  --color-secondary-800: #a01131;
  --color-secondary-900: #891231;
  --color-secondary-950: #4d0416;

  --color-primary-50: #fcf9f0;
  --color-primary-100: #f7f1dd;
  --color-primary-200: #eedfba;
  --color-primary-300: #e0c280;
  --color-primary-400: #d7ab60;
  --color-primary-500: #ce9441;
  --color-primary-600: #c07d36;
  --color-primary-700: #a0632e;
  --color-primary-800: #81502b;
  --color-primary-900: #684326;
  --color-primary-950: #382112;

  --color-base-50: #fafafa;
  --color-base-100: #f5f5f5;
  --color-base-200: #e5e5e5;
  --color-base-300: #d4d4d4;
  --color-base-400: #a3a3a3;
  --color-base-500: #737373;
  --color-base-600: #525252;
  --color-base-700: #404040;
  --color-base-800: #262626;
  --color-base-900: #171717;
  --color-base-950: #0a0a0a;
}

@utility container {
  @apply mx-auto !max-w-screen-md px-4;
}
